.forcast{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 

}
 .day{
    /* border: 10px solid rgb(3, 2, 2); */
    border-radius: 10%;
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    width:17%;
    /* display: flex;
    justify-content: space-around;
    flex-direction: row; */
 
    
} 
img{
    position: auto;

}
.weather{
    border: 10px solid rgb(3, 0, 0);
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
};

/* .forecast{
float:left
} */